.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*

*mov
node_modules/**
.DS_Store
src/**
webview-ui/**
!webview-ui/build/**
out/src/test/extension.test.js